{{ form_start(form) }}
    <div class="row g-3">
        <div class="col-md-6">{{ form_row(form.audit) }}</div>
        <div class="col-md-6">{{ form_row(form.findingNumber) }}</div>
        <div class="col-12">{{ form_row(form.title) }}</div>
        <div class="col-12">{{ form_row(form.description) }}</div>
        <div class="col-md-4">{{ form_row(form.type) }}</div>
        <div class="col-md-4">{{ form_row(form.severity) }}</div>
        <div class="col-md-4">{{ form_row(form.status) }}</div>
        <div class="col-md-6">{{ form_row(form.clauseReference) }}</div>
        <div class="col-md-6">{{ form_row(form.relatedControl) }}</div>
        <div class="col-12">{{ form_row(form.evidence) }}</div>
        <div class="col-md-6">{{ form_row(form.assignedTo) }}</div>
        <div class="col-md-6">{{ form_row(form.dueDate) }}</div>
        <div class="col-md-6">{{ form_row(form.assignedPerson) }}</div>
        <div class="col-12">{{ form_row(form.assignedDeputyPersons) }}</div>
        <div class="col-md-6">{{ form_row(form.reportedByPerson) }}</div>
        <div class="col-12">{{ form_row(form.reportedByDeputyPersons) }}</div>
    </div>
    <div class="mt-4">
        <button type="submit" class="fa-cyber-btn fa-cyber-btn--primary">
            <i class="fa-icon fa-icon--ui-save" aria-hidden="true"></i> {{ 'common.save'|trans({}, 'messages') }}
        </button>
        <a href="{{ path('app_audit_finding_index') }}" class="fa-cyber-btn fa-cyber-btn--ghost">
            {{ 'common.cancel'|trans({}, 'messages') }}
        </a>
    </div>
{{ form_end(form) }}
