{% extends 'base.html.twig' %}
{% trans_default_domain 'bc_plans' %}

{% block title %}{{ 'common.edit'|trans({}, 'messages') }}: {{ bc_plan.name }}{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.bcm'|trans({}, 'nav', 'nav'), url: path('app_bc_plan_index'), icon: 'bi-shield-exclamation' },
            { label: 'bc_plans.page.title'|trans({}, 'bc_plans'), url: path('app_bc_plan_index') },
            { label: bc_plan.name, url: path('app_bc_plan_show', {id: bc_plan.id}) },
            { label: 'common.edit'|trans({}, 'messages') }
        ]
    } %}

    {% include '_components/_page_header.html.twig' with {
        title: ('common.edit'|trans({}, 'messages')) ~ ': ' ~ bc_plan.name,
        icon: 'bi-pencil',
        actions: [
            { label: 'common.view'|trans({}, 'messages'), url: path('app_bc_plan_show', {id: bc_plan.id}), variant: 'outline-primary', icon: 'bi-eye' },
            { label: 'common.back'|trans({}, 'messages'), url: path('app_bc_plan_index'), variant: 'secondary', icon: 'bi-arrow-left' }
        ]
    } %}

    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            {% embed '_components/_card.html.twig' %}
                {% block card_body %}
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                    {% include '_components/_auto_form.html.twig' with {
                        'form': form,
                        'sections': {
                            'basic_info': {
                                'label': 'bc_plans.section.basic_info'|trans({}, 'bc_plans'),
                                'fields': ['name', 'businessProcess', 'description', 'planOwner', 'planOwnerUser', 'planOwnerPerson', 'planOwnerDeputyPersons', 'status']
                            },
                            'team': {
                                'label': 'bc_plans.section.team'|trans({}, 'bc_plans'),
                                'fields': ['bcTeam']
                            },
                            'activation': {
                                'label': 'bc_plans.section.activation'|trans({}, 'bc_plans'),
                                'fields': ['activationCriteria', 'rolesAndResponsibilities', 'recoveryProcedures']
                            },
                            'communication': {
                                'label': 'bc_plans.section.communication'|trans({}, 'bc_plans'),
                                'fields': ['communicationPlan', 'internalCommunication', 'externalCommunication']
                            },
                            'alternative_site': {
                                'label': 'bc_plans.section.alternative_site'|trans({}, 'bc_plans'),
                                'fields': ['alternativeSite', 'alternativeSiteAddress', 'alternativeSiteCapacity']
                            },
                            'backup_recovery': {
                                'label': 'bc_plans.section.backup_recovery'|trans({}, 'bc_plans'),
                                'fields': ['backupProcedures', 'restoreProcedures']
                            },
                            'version_review': {
                                'label': 'bc_plans.section.version_review'|trans({}, 'bc_plans'),
                                'fields': ['version', 'lastTested', 'nextTestDate', 'lastReviewDate', 'nextReviewDate', 'reviewNotes']
                            }
                        },
                        'col_widths': {
                            'name': 12,
                            'businessProcess': 12,
                            'description': 12,
                            'planOwner': 6,
                            'planOwnerUser': 6,
                            'planOwnerPerson': 6,
                            'planOwnerDeputyPersons': 12,
                            'status': 6,
                            'bcTeam': 12,
                            'activationCriteria': 12,
                            'rolesAndResponsibilities': 12,
                            'recoveryProcedures': 12,
                            'communicationPlan': 12,
                            'internalCommunication': 6,
                            'externalCommunication': 6,
                            'alternativeSite': 12,
                            'alternativeSiteAddress': 6,
                            'alternativeSiteCapacity': 6,
                            'backupProcedures': 6,
                            'restoreProcedures': 6,
                            'version': 4,
                            'lastTested': 4,
                            'nextTestDate': 4,
                            'lastReviewDate': 6,
                            'nextReviewDate': 6,
                            'reviewNotes': 12
                        },
                        'tooltips': {
                            'activationCriteria': 'bc_plans.tooltip.activation_criteria',
                            'recoveryProcedures': 'bc_plans.tooltip.recovery_procedures',
                            'communicationPlan': 'bc_plans.tooltip.communication_plan',
                            'alternativeSite': 'bc_plans.tooltip.alternative_site',
                            'requiredResources': 'bc_plans.tooltip.required_resources'
                        }
                    } %}

                    {# Form Actions #}
                    <div class="form-actions d-flex gap-2 justify-content-between pt-3 border-top">
                        <a href="{{ path('app_bc_plan_show', {id: bc_plan.id}) }}" class="fa-cyber-btn fa-cyber-btn--ghost"><i class="fa-icon fa-icon--status-critical" aria-hidden="true"></i> {{ 'common.cancel'|trans({}, 'messages') }}</a>
                        <button type="submit" class="fa-cyber-btn fa-cyber-btn--primary fa-cyber-btn--lg"><i class="fa-icon fa-icon--ui-save" aria-hidden="true"></i> {{ 'common.save'|trans({}, 'messages') }}</button>
                    </div>

                    {{ form_end(form) }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
</div>
{% endblock %}
