{% extends 'base.html.twig' %}
{% trans_default_domain 'control' %}

{% block title %}{{ 'soa.action.edit'|trans({}, 'soa') }} - {{ control.controlId }} - Little ISMS Helper{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.soa'|trans({}, 'nav'), url: path('app_soa_index') },
            { label: control.controlId, url: path('app_soa_show', {id: control.id}) },
            { label: 'common.edit'|trans({}, 'messages') }
        ]
    } %}
</div>

<div class="page-header">
    <div>
        <h1>{{ 'soa.action.edit'|trans({}, 'soa') }}: {{ control.controlId }}</h1>
    </div>
    <div class="button-group">
        <a href="{{ path('app_soa_index') }}" class="fa-cyber-btn fa-cyber-btn--ghost">← {{ 'common.back_to_list'|trans({}, 'messages') }}</a>
    </div>

</div>

{% import '_components/_fa_alert.html.twig' as _fa_alert %}
{% embed '_components/_fa_alert.html.twig' with { props: { variant: 'info', class: 'mb-4' } } %}
    {% block alert_body %}
        <div class="fa-alert__title">{{ control.name|trans({}, 'control') }}</div>
        <p class="mt-sm-text-light">{{ control.description|trans({}, 'control') }}</p>
        <div class="mt-2">
            {% include '_components/_badge.html.twig' with { variant: 'info', content: control.category|trans({}, 'control') } %}
        </div>
    {% endblock %}
{% endembed %}

{{ form_start(form) }}

{# Applicability Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">{{ 'control.section.applicability'|trans({}, 'control') }}</legend>
    <div class="row">
        <div class="col-md-12">
            <div class="form-check mb-3">
                {{ form_widget(form.applicable, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(form.applicable, null, {'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_errors(form.applicable) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include '_components/_form_field.html.twig' with {
                'field': form.justification,
                'label_key': form.justification.vars.label,
                'translation_domain': 'control',
                'required': form.justification.vars.required
            } %}
        </div>
    </div>
</fieldset>

{# Implementation Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">{{ 'control.section.implementation'|trans({}, 'control') }}</legend>
    <div class="row">
        <div class="col-md-12">
            {% include '_components/_form_field.html.twig' with {
                'field': form.implementationStatus,
                'label_key': form.implementationStatus.vars.label,
                'translation_domain': 'control',
                'required': form.implementationStatus.vars.required
            } %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3" data-controller="progress-slider">
                {{ form_label(form.implementationPercentage) }}
                <div class="flex-center-gap-md">
                    {{ form_widget(form.implementationPercentage, {
                        'attr': {
                            'type': 'range',
                            'class': 'flex-1',
                            'min': '0',
                            'max': '100',
                            'data-progress-slider-target': 'slider',
                            'data-action': 'input->progress-slider#update',
                            'aria-label': form.implementationPercentage.vars.label|trans({}, 'control')
                        }
                    }) }}
                    <span data-progress-slider-target="display" class="badge bg-info badge-fs-1-p-sm-md">
                        {{ form.vars.data.implementationPercentage }}%
                    </span>
                </div>
                <div class="progress mt-2">
                    <div data-progress-slider-target="bar" class="progress-bar" style="width: {{ form.vars.data.implementationPercentage }}%">
                        {{ form.vars.data.implementationPercentage }}%
                    </div>
                </div>
                {{ form_help(form.implementationPercentage) }}
                {{ form_errors(form.implementationPercentage) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include '_components/_form_field.html.twig' with {
                'field': form.implementationNotes,
                'label_key': form.implementationNotes.vars.label,
                'translation_domain': 'control',
                'required': form.implementationNotes.vars.required
            } %}
        </div>
    </div>
</fieldset>

{# Responsibility Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">{{ 'control.section.responsibility'|trans({}, 'control') }}</legend>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.responsiblePersonUser) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.responsiblePersonRef) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.responsibleDeputyPersons) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include '_components/_form_field.html.twig' with {
                'field': form.responsiblePerson,
                'label_key': form.responsiblePerson.vars.label,
                'translation_domain': 'control',
                'required': form.responsiblePerson.vars.required
            } %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include '_components/_form_field.html.twig' with {
                'field': form.targetDate,
                'label_key': form.targetDate.vars.label,
                'translation_domain': 'control',
                'required': form.targetDate.vars.required
            } %}
        </div>
    </div>
</fieldset>

{# Review Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">{{ 'control.section.review'|trans({}, 'control') }}</legend>
    <div class="row">
        <div class="col-md-12">
            {% include '_components/_form_field.html.twig' with {
                'field': form.lastReviewDate,
                'label_key': form.lastReviewDate.vars.label,
                'translation_domain': 'control',
                'required': form.lastReviewDate.vars.required
            } %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include '_components/_form_field.html.twig' with {
                'field': form.nextReviewDate,
                'label_key': form.nextReviewDate.vars.label,
                'translation_domain': 'control',
                'required': form.nextReviewDate.vars.required
            } %}
        </div>
    </div>
</fieldset>

{# Assets Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">{{ 'control.section.assets'|trans({}, 'control') }}</legend>
    <div class="row">
        <div class="col-md-12">
            {% include '_components/_form_field.html.twig' with {
                'field': form.protectedAssets,
                'label_key': form.protectedAssets.vars.label,
                'translation_domain': 'control',
                'required': form.protectedAssets.vars.required
            } %}
        </div>
    </div>
</fieldset>

<div class="d-flex gap-2 mt-4">
    <button type="submit" class="fa-cyber-btn fa-cyber-btn--success">
        {{ 'common.save_changes'|trans({}, 'messages') }}
    </button>
    <a href="{{ path('app_soa_show', {id: control.id}) }}" class="fa-cyber-btn fa-cyber-btn--ghost">
        {{ 'common.cancel'|trans({}, 'messages') }}
    </a>
</div>

{{ form_end(form) }}

{% endblock %}
