{% extends 'base.html.twig' %}

{% block title %}{{ 'incident.edit'|trans({}, 'incident') }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            {% include '_components/_breadcrumb.html.twig' with {
                breadcrumbs: [
                    { label: 'nav.incidents'|trans({}, 'nav'), url: path('app_incident_index') },
                    { label: incident.title, url: path('app_incident_show', {id: incident.id}) },
                    { label: 'incident.edit'|trans({}, 'incident') }
                ]
            } %}

            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h3 mb-0">
                    <i class="fa-icon fa-icon--ui-edit" aria-hidden="true"></i>
                    {{ 'incident.edit'|trans({}, 'incident') }}: {{ incident.title }}
                </h1>
                <a href="{{ path('app_incident_show', {id: incident.id}) }}" class="fa-cyber-btn fa-cyber-btn--ghost" data-turbo-action="advance">
                    <i class="fa-icon fa-icon--util-arrow-left" aria-hidden="true"></i> {{ 'common.back'|trans({}, 'messages') }}
                </a>
            </div>

            {% embed '_components/_card.html.twig' %}
                {% block card_header %}
                    <div class="card-header">
                        <h2 class="h5 mb-0">{{ 'incident.edit'|trans({}, 'incident') }}</h2>
                    </div>
                {% endblock %}
                {% block card_body %}
                <div data-controller="incident-escalation-preview"
                     data-incident-escalation-preview-preview-url-value="{{ path('app_incident_escalation_preview') }}"
                     data-incident-escalation-preview-translations-value="{{ {
                         title: 'incident.escalation_preview.title'|trans({}, 'incident'),
                         workflow_name: 'incident.escalation_preview.workflow_name'|trans({}, 'incident'),
                         automatic: 'incident.escalation_preview.automatic'|trans({}, 'incident'),
                         notified_users: 'incident.escalation_preview.notified_users'|trans({}, 'incident'),
                         emails: 'incident.escalation_preview.emails'|trans({}, 'incident'),
                         sla_requirement: 'incident.escalation_preview.sla_requirement'|trans({}, 'incident'),
                         gdpr_warning: 'incident.escalation_preview.gdpr_warning'|trans({}, 'incident'),
                         gdpr_deadline: 'incident.escalation_preview.gdpr_deadline'|trans({}, 'incident'),
                         gdpr_reference: 'incident.escalation_preview.gdpr_reference'|trans({}, 'incident'),
                         approval_required: 'incident.escalation_preview.approval_required'|trans({}, 'incident'),
                         estimated_time: 'incident.escalation_preview.estimated_time'|trans({}, 'incident'),
                         summary_title: 'incident.escalation_preview.summary_title'|trans({}, 'incident'),
                         action_workflow_started: 'incident.escalation_preview.actions.workflow_started'|trans({}, 'incident'),
                         action_notifications_sent: 'incident.escalation_preview.actions.notifications_sent'|trans({}, 'incident'),
                         action_approval_required: 'incident.escalation_preview.actions.approval_required'|trans({}, 'incident'),
                         action_sla_tracked: 'incident.escalation_preview.actions.sla_tracked'|trans({}, 'incident'),
                         loading: 'common.loading'|trans({}, 'messages'),
                         loading_preview: 'incident.escalation_preview.select_severity'|trans({}, 'incident'),
                         error: 'common.error.unknown'|trans({}, 'messages'),
                         level_data_breach: 'incident.workflow.escalation.data_breach'|trans({}, 'incident'),
                         level_critical: 'incident.severity.critical'|trans({}, 'incident'),
                         level_high: 'incident.severity.high'|trans({}, 'incident'),
                         level_medium: 'incident.severity.medium'|trans({}, 'incident'),
                         level_low: 'incident.severity.low'|trans({}, 'incident')
                     }|json_encode }}"
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'incident-form'}}) }}

                    {# Basic Info Section #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">{{ 'incident.section.basic_info'|trans({}, 'incident') }}</legend>
                        <div class="row">
                            <div class="col-md-8">
                                {{ form_row(form.title) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.category) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_row(form.description) }}
                            </div>
                        </div>
                    </fieldset>

                    {# Severity & Status Section with Escalation Preview #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">{{ 'incident.section.severity_status'|trans({}, 'incident') }}</legend>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.severity, {
                                    'attr': {
                                        'data-incident-escalation-preview-target': 'severitySelect',
                                        'data-action': 'change->incident-escalation-preview#updatePreview'
                                    }
                                }) }}
                            </div>
                            {% if form.dataBreachOccurred is defined %}
                            <div class="col-md-4" data-incident-escalation-preview-target="breachCheckbox">
                                {{ form_row(form.dataBreachOccurred, {
                                    'row_attr': {
                                        'data-action': 'change->incident-escalation-preview#updatePreview'
                                    }
                                }) }}
                            </div>
                            {% endif %}
                            <div class="col-md-4">
                                {{ form_row(form.status) }}
                            </div>
                        </div>
                    </fieldset>

                    {# Escalation Preview Panel - Shows workflow implications #}
                    <div data-incident-escalation-preview-target="previewPanel" class="d-none mb-4">
                        {% include 'incident/_escalation_preview_panel.html.twig' %}
                    </div>

                    {# Detection & Reporting Section #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">{{ 'incident.section.detection_reporting'|trans({}, 'incident') }}</legend>
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.detectedAt is defined ? form.detectedAt : form.detectedDate) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.occurredAt) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.reportedBy) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.reportedByUser) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.reportedByPerson) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.reportedByDeputyPersons) }}
                            </div>
                        </div>
                    </fieldset>

                    {# Affected Systems Section #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">{{ 'incident.section.affected_systems'|trans({}, 'incident') }}</legend>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(form.affectedSystems) }}
                            </div>
                            {% if form.affectedAssets is defined %}
                            <div class="col-md-12">
                                {{ form_row(form.affectedAssets) }}
                            </div>
                            {% endif %}
                        </div>
                    </fieldset>

                    {# Analysis Section #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">{{ 'incident.analysis_resolution'|trans({}, 'incident') }}</legend>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(form.rootCause) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_row(form.correctiveActions) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_row(form.lessonsLearned) }}
                            </div>
                            {% if form.closedDate is defined %}
                            <div class="col-md-6">
                                {{ form_row(form.closedDate) }}
                            </div>
                            {% elseif form.closedAt is defined %}
                            <div class="col-md-6">
                                {{ form_row(form.closedAt) }}
                            </div>
                            {% endif %}
                        </div>
                    </fieldset>

                    {# Remove the old auto_form include since we've manually rendered everything #}
                    {#{% set detection_fields = ['detectedAt', 'occurredAt', 'reportedBy'] %}
                    {% if form.detectedDate is defined %}
                        {% set detection_fields = detection_fields|merge(['detectedDate']) %}
                    {% endif %}

                    {% set analysis_fields = ['rootCause', 'correctiveActions', 'lessonsLearned'] %}
                    {% if form.closedDate is defined %}
                        {% set analysis_fields = analysis_fields|merge(['closedDate']) %}
                    {% elseif form.closedAt is defined %}
                        {% set analysis_fields = analysis_fields|merge(['closedAt']) %}
                    {% endif %}

                    {% set affected_fields = ['affectedSystems'] %}
                    {% if form.affectedAssets is defined %}
                        {% set affected_fields = affected_fields|merge(['affectedAssets']) %}
                    {% endif %}

                    {% include '_components/_auto_form.html.twig' with {
                        'form': form,
                        'sections': {
                            'basic_info': {
                                'label': 'incident.section.basic_info'|trans({}, 'incident'),
                                'fields': ['title', 'category', 'description']
                            },
                            'severity_status': {
                                'label': 'incident.section.severity_status'|trans({}, 'incident'),
                                'fields': ['severity', 'status']
                            },
                            'detection_reporting': {
                                'label': 'incident.section.detection_reporting'|trans({}, 'incident'),
                                'fields': detection_fields
                            },
                            'affected_systems': {
                                'label': 'incident.section.affected_systems'|trans({}, 'incident'),
                                'fields': affected_fields
                            },
                            'analysis': {
                                'label': 'incident.analysis_resolution'|trans({}, 'incident'),
                                'fields': analysis_fields
                            }
                        },
                        'col_widths': {
                            'title': 8,
                            'category': 4,
                            'description': 12,
                            'severity': 6,
                            'status': 6,
                            'detectedAt': 3,
                            'occurredAt': 3,
                            'reportedBy': 3,
                            'detectedDate': 3,
                            'affectedSystems': 12,
                            'affectedAssets': 12,
                            'rootCause': 12,
                            'correctiveActions': 12,
                            'lessonsLearned': 12,
                            'closedAt': 6,
                            'closedDate': 6
                        }
                    } %}#}

                    {# Form Actions #}
                    <div class="d-flex justify-content-between align-items-center pt-3 border-top">
                        <a href="{{ path('app_incident_show', {id: incident.id}) }}"
                           class="fa-cyber-btn fa-cyber-btn--ghost"
                           data-turbo-action="advance">
                            <i class="fa-icon fa-icon--status-critical" aria-hidden="true"></i> {{ 'common.cancel'|trans({}, 'messages') }}
                        </a>
                        <button type="submit" class="fa-cyber-btn fa-cyber-btn--primary fa-cyber-btn--lg">
                            <i class="fa-icon fa-icon--ui-save" aria-hidden="true"></i> {{ 'incident.update'|trans({}, 'incident') }}
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
</div>
{% endblock %}
