{% extends 'base.html.twig' %}
{% import '_components/_fa_alert.html.twig' as _fa_alert %}
{% trans_default_domain 'incident' %}

{% block title %}{{ 'incident.new'|trans({}, 'incident') }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto"
             data-controller="incident-nis2"
             data-incident-nis2-affected-users-threshold-value="100">
            {% include '_components/_breadcrumb.html.twig' with {
                breadcrumbs: [
                    { label: 'nav.incidents'|trans({}, 'nav'), url: path('app_incident_index') },
                    { label: 'incident.new'|trans({}, 'incident') }
                ]
            } %}

            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h3 mb-0"><i class="fa-icon fa-icon--ui-plus" aria-hidden="true"></i> {{ 'incident.new'|trans({}, 'incident') }}</h1>
                <a href="{{ path('app_incident_index') }}" class="fa-cyber-btn fa-cyber-btn--ghost" data-turbo-action="advance">
                    <i class="fa-icon fa-icon--util-arrow-left" aria-hidden="true"></i> {{ 'common.back'|trans({}, 'messages') }}
                </a>
            </div>

            {# NIS2 Reporting Alert Banner #}
            <div id="nis2-alert" class="fa-alert fa-alert--warning d-none mb-4" role="alert"
                 data-incident-nis2-target="alertBanner">
                <div class="fa-alert__title">
                    <i class="fa-icon fa-icon--status-warning" aria-hidden="true"></i> {{ 'incident.nis2_alert.title'|trans({}, 'incident') }}
                </div>
                <p class="mb-2 small">{{ 'incident.nis2_alert.description'|trans({}, 'incident') }}</p>
                <ul class="mb-0 small">
                    <li>{{ 'incident.nis2_alert.early_warning'|trans({}, 'incident') }}</li>
                    <li>{{ 'incident.nis2_alert.detailed_notification'|trans({}, 'incident') }}</li>
                    <li>{{ 'incident.nis2_alert.final_report'|trans({}, 'incident') }}</li>
                </ul>
            </div>

            {% embed '_components/_card.html.twig' %}
                {% block card_header %}
                    <div class="card-header">
                        <h2 class="h5 mb-0">{{ 'incident.new'|trans({}, 'incident') }}</h2>
                    </div>
                {% endblock %}
                {% block card_body %}
                {% import '_components/_fa_alert.html.twig' as _fa_alert %}
                <div data-controller="incident-escalation-preview"
                     data-incident-escalation-preview-preview-url-value="{{ path('app_incident_escalation_preview') }}"
                     data-incident-escalation-preview-translations-value="{{ {
                         title: 'incident.escalation_preview.title'|trans({}, 'incident'),
                         workflow_name: 'incident.escalation_preview.workflow_name'|trans({}, 'incident'),
                         automatic: 'incident.escalation_preview.automatic'|trans({}, 'incident'),
                         notified_users: 'incident.escalation_preview.notified_users'|trans({}, 'incident'),
                         emails: 'incident.escalation_preview.emails'|trans({}, 'incident'),
                         sla_requirement: 'incident.escalation_preview.sla_requirement'|trans({}, 'incident'),
                         gdpr_warning: 'incident.escalation_preview.gdpr_warning'|trans({}, 'incident'),
                         gdpr_deadline: 'incident.escalation_preview.gdpr_deadline'|trans({}, 'incident'),
                         gdpr_reference: 'incident.escalation_preview.gdpr_reference'|trans({}, 'incident'),
                         approval_required: 'incident.escalation_preview.approval_required'|trans({}, 'incident'),
                         estimated_time: 'incident.escalation_preview.estimated_time'|trans({}, 'incident'),
                         summary_title: 'incident.escalation_preview.summary_title'|trans({}, 'incident'),
                         action_workflow_started: 'incident.escalation_preview.actions.workflow_started'|trans({}, 'incident'),
                         action_notifications_sent: 'incident.escalation_preview.actions.notifications_sent'|trans({}, 'incident'),
                         action_approval_required: 'incident.escalation_preview.actions.approval_required'|trans({}, 'incident'),
                         action_sla_tracked: 'incident.escalation_preview.actions.sla_tracked'|trans({}, 'incident'),
                         loading: 'common.loading'|trans({}, 'messages'),
                         loading_preview: 'incident.escalation_preview.select_severity'|trans({}, 'incident'),
                         error: 'common.error.unknown'|trans({}, 'messages'),
                         level_data_breach: 'incident.workflow.escalation.data_breach'|trans({}, 'incident'),
                         level_critical: 'incident.severity.critical'|trans({}, 'incident'),
                         level_high: 'incident.severity.high'|trans({}, 'incident'),
                         level_medium: 'incident.severity.medium'|trans({}, 'incident'),
                         level_low: 'incident.severity.low'|trans({}, 'incident')
                     }|json_encode }}"
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'incident-form'}}) }}

                    {# Basic Info Section #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">{{ 'incident.section.basic_info'|trans({}, 'incident') }}</legend>
                        <div class="row">
                            <div class="col-md-8">
                                {{ form_row(form.title) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.category) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_row(form.description) }}
                            </div>
                        </div>
                    </fieldset>

                    {# Severity & Status Section with Escalation Preview #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">{{ 'incident.section.severity_status'|trans({}, 'incident') }}</legend>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.severity, {
                                    'attr': {
                                        'data-incident-escalation-preview-target': 'severitySelect',
                                        'data-incident-nis2-target': 'severitySelect',
                                        'data-action': 'change->incident-escalation-preview#updatePreview change->incident-nis2#checkNis2Relevance'
                                    }
                                }) }}
                            </div>
                            <div class="col-md-4" data-incident-escalation-preview-target="breachCheckbox">
                                {{ form_row(form.dataBreachOccurred, {
                                    'row_attr': {
                                        'data-action': 'change->incident-escalation-preview#updatePreview'
                                    }
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.status) }}
                            </div>
                        </div>

                        {# GDPR Breach Wizard Button #}
                        <div class="mt-3">
                            <button type="button" class="fa-cyber-btn fa-cyber-btn--warning" id="gdpr-wizard-trigger-btn">
                                <i class="fa-icon fa-icon--breach" aria-hidden="true"></i>
                                {{ 'data_breach.wizard.trigger_button'|trans({}, 'privacy') }}
                            </button>
                            <small class="d-block mt-2 text-muted">{{ 'data_breach.wizard.trigger_hint'|trans({}, 'privacy') }}</small>
                        </div>
                    </fieldset>

                    {# Escalation Preview Panel - Shows workflow implications #}
                    <div data-incident-escalation-preview-target="previewPanel" class="d-none mb-4">
                        {% include 'incident/_escalation_preview_panel.html.twig' %}
                    </div>

                    {# Detection & Reporting Section #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">{{ 'incident.section.detection_reporting'|trans({}, 'incident') }}</legend>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.detectedAt) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.occurredAt) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.reportedBy) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.reportedByUser) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.reportedByPerson) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.reportedByDeputyPersons) }}
                            </div>
                        </div>
                    </fieldset>

                    {# Affected Systems Section #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">{{ 'incident.section.affected_systems'|trans({}, 'incident') }}</legend>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(form.affectedSystems) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_row(form.affectedAssets) }}
                            </div>
                        </div>
                    </fieldset>

                    {# Analysis Section #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">{{ 'incident.section.analysis'|trans({}, 'incident') }}</legend>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(form.rootCause) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_row(form.correctiveActions) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_row(form.lessonsLearned) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.closedAt) }}
                            </div>
                        </div>
                    </fieldset>

                    {# NIS2 Reporting Section - Conditionally Displayed #}
                    <fieldset id="nis2-section" class="mb-4 d-none nis2-fieldset"
                              data-incident-nis2-target="nis2Section">
                        <legend class="h5 mb-3 bg-warning-subtle text-warning nis2-legend">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>
                                    <i class="fa-icon fa-icon--incident" aria-hidden="true"></i>
                                    {{ 'incident.section.nis2_reporting'|trans({}, 'incident') }}
                                </span>
                                <button type="button" class="fa-cyber-btn fa-cyber-btn--ghost fa-cyber-btn--sm" id="hide-nis2-btn"
                                        data-incident-nis2-target="hideButton"
                                        data-action="click->incident-nis2#hide">
                                    <i class="fa-icon fa-icon--ui-eye-off" aria-hidden="true"></i> {{ 'incident.nis2_toggle.hide'|trans({}, 'incident') }}
                                </button>
                            </div>
                            <small class="d-block mt-2">{{ 'incident.section.nis2_info'|trans({}, 'incident') }}</small>
                        </legend>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.nis2Category) }}
                            </div>
                            <div class="col-md-6"
                                 data-incident-nis2-target="crossBorderRadios"
                                 data-action="change->incident-nis2#checkNis2Relevance">
                                {{ form_row(form.crossBorderImpact) }}
                            </div>
                        </div>

                        {# NIS2 Timeline - Article 23 #}
                        {{ _fa_alert.render({ variant: 'info', class: 'mt-3', body: '<div class="alert-heading fw-bold">{{ \'incident.nis2_timeline.title\'|trans({}, \'incident\') }}</div> <p class="mb-0 small">{{ \'incident.nis2_timeline.description\'|trans({}, \'incident\') }}</p>' }) }}

                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.earlyWarningReportedAt) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.detailedNotificationReportedAt) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.finalReportSubmittedAt) }}
                            </div>
                        </div>

                        {# Impact Assessment #}
                        <div class="row mt-3">
                            <div class="col-md-4">
                                {{ form_row(form.affectedUsersCount, {
                                    'attr': {
                                        'data-incident-nis2-target': 'affectedUsersInput',
                                        'data-action': 'input->incident-nis2#checkNis2Relevance'
                                    }
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.estimatedFinancialImpact) }}
                            </div>
                        </div>

                        {# Authority Notification #}
                        <div class="row">
                            <div class="col-md-8">
                                {{ form_row(form.nationalAuthorityNotified) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.authorityReferenceNumber) }}
                            </div>
                        </div>
                    </fieldset>

                    {# Manual NIS2 Toggle Button #}
                    <div id="show-nis2-container" class="text-center mb-4 d-none"
                         data-incident-nis2-target="showButtonContainer">
                        <button type="button" class="fa-cyber-btn fa-cyber-btn--warning" id="show-nis2-btn"
                                data-incident-nis2-target="showButton"
                                data-action="click->incident-nis2#show">
                            <i class="fa-icon fa-icon--incident" aria-hidden="true"></i> {{ 'incident.nis2_toggle.show'|trans({}, 'incident') }}
                        </button>
                    </div>

                    {# Form Actions #}
                    <div class="d-flex justify-content-between align-items-center pt-3 border-top">
                        <a href="{{ path('app_incident_index') }}"
                           class="fa-cyber-btn fa-cyber-btn--ghost"
                           data-turbo-action="advance">
                            <i class="fa-icon fa-icon--util-arrow-left" aria-hidden="true"></i> {{ 'common.back'|trans({}, 'messages') }}
                        </a>
                        <button type="submit" class="fa-cyber-btn fa-cyber-btn--primary fa-cyber-btn--lg">
                            <i class="fa-icon fa-icon--ui-save" aria-hidden="true"></i> {{ 'incident.create'|trans({}, 'incident') }}
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
</div>

{# GDPR Breach Wizard - placed outside all containers for proper modal positioning #}
<div data-controller="gdpr-breach-wizard"
     data-gdpr-breach-wizard-assessment-url-value="{{ path('app_incident_gdpr_wizard_result') }}">
    {% include 'incident/_gdpr_breach_wizard_modal.html.twig' %}
</div>

{% endblock %}
