{#
    Business Process Form Partial (Accessible)
    Used by both new.html.twig and edit.html.twig

    WCAG 2.1 AA Compliant Form with:
    - Proper ARIA attributes
    - Error handling
    - Help texts
    - Required field indicators
#}

{# Basic Information Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">
        <i class="fa-icon fa-icon--ui-info" aria-hidden="true"></i>
        {{ 'business_process.section.basic_info'|trans({}, 'business_process') }}
    </legend>

    <div class="row">
        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.name,
                'label': 'business_process.field.name'|trans({}, 'business_process'),
                'help': 'business_process.help.name'|trans({}, 'business_process'),
                'required': true
            } %}
        </div>

        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.processOwner,
                'label': 'business_process.field.process_owner'|trans({}, 'business_process'),
                'help': 'business_process.help.process_owner'|trans({}, 'business_process')
            } %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.processOwnerPerson) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.processOwnerDeputyPersons) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.description,
                'label': 'business_process.field.description'|trans({}, 'business_process'),
                'help': 'business_process.help.description'|trans({}, 'business_process')
            } %}
        </div>

        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.criticality,
                'label': 'business_process.field.criticality'|trans({}, 'business_process'),
                'help': 'business_process.help.criticality'|trans({}, 'business_process'),
                'tooltip_key': 'business_process.tooltip.criticality',
                'translation_domain': 'business_process',
                'required': true
            } %}
        </div>
    </div>
</fieldset>

{# Recovery Objectives (BIA) Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">
        <i class="fa-icon fa-icon--nav-calendar-check" aria-hidden="true"></i>
        {{ 'business_process.section.recovery_objectives'|trans({}, 'business_process') }}
    </legend>

    <div class="row">
        <div class="col-md-4">
            {% include '_components/_form_field.html.twig' with {
                'field': form.rto,
                'label': 'business_process.field.rto'|trans({}, 'business_process'),
                'help': 'business_process.help.rto'|trans({}, 'business_process'),
                'tooltip_key': 'business_process.tooltip.rto',
                'translation_domain': 'business_process'
            } %}
        </div>

        <div class="col-md-4">
            {% include '_components/_form_field.html.twig' with {
                'field': form.rpo,
                'label': 'business_process.field.rpo'|trans({}, 'business_process'),
                'help': 'business_process.help.rpo'|trans({}, 'business_process'),
                'tooltip_key': 'business_process.tooltip.rpo',
                'translation_domain': 'business_process'
            } %}
        </div>

        <div class="col-md-4">
            {% include '_components/_form_field.html.twig' with {
                'field': form.mtpd,
                'label': 'business_process.field.mtpd'|trans({}, 'business_process'),
                'help': 'business_process.help.mtpd'|trans({}, 'business_process'),
                'tooltip_key': 'business_process.tooltip.mtpd',
                'translation_domain': 'business_process'
            } %}
        </div>
    </div>
</fieldset>

{# Financial Impact Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">
        <i class="bi bi-currency-dollar" aria-hidden="true"></i>
        {{ 'business_process.section.financial_impact'|trans({}, 'business_process') }}
    </legend>

    <div class="row">
        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.financialImpactPerHour,
                'label': 'business_process.field.financial_impact_per_hour'|trans({}, 'business_process'),
                'help': 'business_process.help.financial_impact_per_hour'|trans({}, 'business_process')
            } %}
        </div>

        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.financialImpactPerDay,
                'label': 'business_process.field.financial_impact_per_day'|trans({}, 'business_process'),
                'help': 'business_process.help.financial_impact_per_day'|trans({}, 'business_process')
            } %}
        </div>
    </div>
</fieldset>

{# Impact Assessment Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">
        <i class="fa-icon fa-icon--status-warning" aria-hidden="true"></i>
        {{ 'business_process.section.impact_assessment'|trans({}, 'business_process') }}
    </legend>

    <div class="row">
        <div class="col-md-4">
            {% include '_components/_form_field.html.twig' with {
                'field': form.reputationalImpact,
                'label': 'business_process.field.reputational_impact'|trans({}, 'business_process'),
                'help': 'business_process.help.reputational_impact'|trans({}, 'business_process'),
                'tooltip_key': 'business_process.tooltip.reputational_impact',
                'translation_domain': 'business_process'
            } %}
        </div>

        <div class="col-md-4">
            {% include '_components/_form_field.html.twig' with {
                'field': form.regulatoryImpact,
                'label': 'business_process.field.regulatory_impact'|trans({}, 'business_process'),
                'help': 'business_process.help.regulatory_impact'|trans({}, 'business_process'),
                'tooltip_key': 'business_process.tooltip.regulatory_impact',
                'translation_domain': 'business_process'
            } %}
        </div>

        <div class="col-md-4">
            {% include '_components/_form_field.html.twig' with {
                'field': form.operationalImpact,
                'label': 'business_process.field.operational_impact'|trans({}, 'business_process'),
                'help': 'business_process.help.operational_impact'|trans({}, 'business_process'),
                'tooltip_key': 'business_process.tooltip.operational_impact',
                'translation_domain': 'business_process'
            } %}
        </div>
    </div>
</fieldset>

{# Dependencies Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">
        <i class="fa-icon fa-icon--nav-process" aria-hidden="true"></i>
        {{ 'business_process.section.dependencies'|trans({}, 'business_process') }}
    </legend>

    <div class="row">
        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.dependenciesUpstream,
                'label': 'business_process.field.dependencies_upstream'|trans({}, 'business_process'),
                'help': 'business_process.help.dependencies_upstream'|trans({}, 'business_process')
            } %}
        </div>

        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.dependenciesDownstream,
                'label': 'business_process.field.dependencies_downstream'|trans({}, 'business_process'),
                'help': 'business_process.help.dependencies_downstream'|trans({}, 'business_process')
            } %}
        </div>
    </div>
</fieldset>

{# Recovery Strategy Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">
        <i class="fa-icon fa-icon--compliance-shield" aria-hidden="true"></i>
        {{ 'business_process.section.recovery'|trans({}, 'business_process') }}
    </legend>

    <div class="row">
        <div class="col-12">
            {% include '_components/_form_field.html.twig' with {
                'field': form.recoveryStrategy,
                'label': 'business_process.field.recovery_strategy'|trans({}, 'business_process'),
                'help': 'business_process.help.recovery_strategy'|trans({}, 'business_process')
            } %}
        </div>
    </div>
</fieldset>

{# Supporting Resources Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">
        <i class="fa-icon fa-icon--ui-link" aria-hidden="true"></i>
        {{ 'business_process.section.supporting_resources'|trans({}, 'business_process') }}
    </legend>

    <div class="row">
        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.supportingAssets,
                'label': 'business_process.field.supporting_assets'|trans({}, 'business_process'),
                'help': 'business_process.help.supporting_assets'|trans({}, 'business_process')
            } %}
        </div>

        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.identifiedRisks,
                'label': 'business_process.field.identified_risks'|trans({}, 'business_process'),
                'help': 'business_process.help.identified_risks'|trans({}, 'business_process')
            } %}
        </div>
    </div>
</fieldset>

{{ form_rest(form) }}
